.show_likes_on_post {
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.show_likes_on_post p {
  color: #606770;
  font-size: 12px;
}

.post_likes_container {
  border-top: 1px solid #E5E5E5;
  width: 100%;
  height: 19px;
  margin-top: 13px;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.likes_on_post_icon {
  background-image: image-url('thumbs-up');
  height: 22px; 
  width: 22px; 
  background-size: contain;
  background-repeat: no-repeat;
}

.show_comment_count {
  color: #606770;
  font-size: 12px;
  font-family: "Lucida Grande", sans-serif;
}

.comment_post_container {
  width: 100%;
  height: 28px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 15px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.post_like_button {
  cursor: pointer;
  color: #616770;
  width: 150px;
  height: 28px;
  border-radius: 3px;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.post_like_button_clicked {
  cursor: pointer;
  color: #397BE2;
  width: 150px;
  height: 28px;
  border-radius: 3px;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.post_like_button:hover {
  background-color: #EFF1F3;
}

.like_post_button_text {
  margin-left: 10px;
}

.comment_and_like_container {
  display: flex;
  flex-direction: column;
}

.comment_like_button {
  font-size: 12px;
  color: #42629C;
  cursor: pointer;
  margin-left: 58px;
  margin-bottom: 8px;
}

.comment_like_button:hover {
  text-decoration: underline;
}

.comment_like_button_remove {
  font-size: 12px;
  color: #397BE2;
  font-weight: bold;
  cursor: pointer;
  margin-left: 58px;
  margin-bottom: 8px;
}

.comment_like_button_remove:hover {
  text-decoration: underline;
}

.comment_like_display_container {
  display: flex;
  flex-direction: row;
  background-color: white; 
  width: auto;
  box-shadow: 0px 0px 2px black;
  border-radius: 8px;
  // margin-top: 20px;
  top: 15px;
  right: 5px;
  position: relative;
  // position this correctly
}

.comment_liked_icon {
  background-image: image-url('thumbs-up');
  height: 16px; 
  width: 16px; 
  background-size: contain;
  background-repeat: no-repeat;
}