.loggedout_menubar_container {
  border-bottom: 1px solid #29487d;
  background: linear-gradient(#4F6AA0, #3C5B96);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 82px;
}

.nav {
  background-color: #4469B0;
  border-bottom: 1px solid #2A497B;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 42px;
  left: 10px;
}

.dropdown {
  float: right;
  margin-right: 320px;
}

.triangle {
  height:0px;
  width:0px;
  border:none;
  border-top:5px solid #1B2A46;
  border-left:5px solid rgba(0,0,0,0);
  border-right:5px solid rgba(0,0,0,0);
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 5px;
  background-color: inherit;
  font-family: inherit; 
  margin-bottom: 0px; 
  height: 43px;
}

.dropdown {
  position: relative;
}

.logout_text {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.logout_button_container {
  padding-top: 10px;
}

.logout_button_container:hover {
  background-color: #4469B0;
  border-top: 1px solid #29487d;
  border-bottom: 1px solid #29487d;
  height: 22px;
  padding-top: 10px;
  position: relative;
  border-radius: 3px;
}

.logout_button_container:hover .logout_text {
  color: white;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  z-index: 10;
  left: -120px;
  height: 30px;
  font-size: 12px;
  text-decoration: none;
}

.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-decoration: none;
}

.dropdown_content button:hover {
  background-color: #FFFFFF;
  border: 2px solid #B2B2B2;
  box-shadow: #2A497B;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.fb_logo_small {
  background-image: image-url('fb_logo_small.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
  margin-left: 5%;
  margin-right: 3px;
}
.facebook_logo {
  background-image: image-url('facebook_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 34px;
  width: 170px;
  margin-left: 25px;
}

.login_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login_input {
  border: 1px solid black;
  height: 24px;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input_label {
  display: flex;
  flex-direction: column;
  margin: 12px;
  font-size: 12px;
}

.login_button {
  margin: 12px;
  height: 26px;
  margin-top: 29px;
  background-color: #4469B0;
  border: 1px solid #2A497B;
  color: white;
  border-radius: 3px;
  font-family: "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 12px;
  width: 50px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.login_button:hover {
  background-color: #3C5B96;
}

.forgot_account {
  color: #91A6C5;
}

.forgot_account:hover {
  color: #91A6C5;
  text-decoration: underline;
}

.login_errors {
  color: #BC4C4C;
  list-style: none;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
}

.current_user_page_button {
  margin: 12px 0px 12px 12px;
  height: 30px;
  background-color: #4469B0;
  border-radius: 3px;
  color: white;
  font-family: "Lucida Grande", sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16%;
  padding-left: 10px;
}

.current_user_button_image {
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.current_user_page_button:hover {
  background-color: #3D5E9E;
}

.home_button {
  margin: 12px 5px 12px 0px;
  height: 30px;
  width: 60px;
  background-color: #4469B0;
  border-radius: 3px;
  color: white;
  font-family: "Lucida Grande", sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  border-left: 1px solid #3D5E9E;
  border-right: 1px solid #3D5E9E;
}

.home_button_link {
  text-decoration: none;
  color: white;
  font-size: 12px;
  // text-align: center;
  margin-right: 9px;
}

.home_button:hover {
  background-color: #3D5E9E;
}

.current_user_button_link {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-left: 20px;
  padding-right: 10px;
  text-align: right;
}

.friend_dropdown {
  float: right;
  margin-right: 10px;
}

.friend_logo {
  color: #1B2A45;
}

.friend_dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 5px;
  background-color: inherit;
  font-family: inherit; 
  margin-bottom: 0px; 
  height: 43px;
}

.friend_dropdown {
  position: relative;
}

.friend_text {
  text-decoration: none;
  color: black;
}

.friend_button_container {
  padding-top: 10px;
}

.friend_button_container:hover {
  position: relative;
  border-radius: 3px;
}

.friend_button_container:hover .friend_text {
  color: black;
}

.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-decoration: none;
}

.friend_dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 430px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  left: -1100%;
  z-index: 5;
  height: auto;
  font-size: 12px;
  text-decoration: none;
}

.friend_dropdown:hover .friend_dropdown_content {
  display: block;
}

.friend_req_name {
  color: #385A97;
  text-decoration: none;
}

.friend_text {
  list-style: none;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.friend_req_name:hover {
  text-decoration: underline;
}

.confirm {
  height: 24px;
  margin-left: 50px;
  background-color: #4469B0;
  border-color: #29487d;
  color: white;
  border-radius: 3px;
  font-family: "Lucida Grande", sans-serif;
  font-weight: 200;
  width: 67px;
}

.confirm:hover {
  background-color: #3C5B96;
}

.delete_request {
  height: 24px;
  margin-right: 20px;
  background-color: #F5F6F7;
  border-color: #CCD0D5;
  color: #4B4F56;
  border-radius: 3px;
  font-family: "Lucida Grande", sans-serif;
  font-weight: 300;
  font-weight: bold;
  width: 109px;
}
.delete_request:hover {
  background-color: #E4E6EB;
}

.list_item_for_req {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDFE2;
  width: auto;
  padding-left: 20px;
}

.requester_img {
  height: 48px;
  width: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.friend_button_container p {
  color: #333333;
  font-weight: bold;
  padding-left: 20px; 
  margin-bottom: 10px; 
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDFE2;
}

.search_bar {
  display: flex;
  flex-direction: row;
}

.search_bar_input {
  width: 393px;
  height: 23px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-left: 1px solid #3C5B96;
  border-top: 1px solid #3C5B96;
  border-bottom: 1px solid #3C5B96;
  border-right: none;
  font-size: 14px;
}

.search_bar_submit {
  background-color: #F5F6F7;
  width: 46px;
  height: 25px;
  border-right: 1px solid #3C5B96;
  border-top: 1px solid #3C5B96;
  border-bottom: 1px solid #3C5B96;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  display: flex; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search_icon {
  background-image: image-url('search_icon');
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}