.loggedout_menubar_container {
  border-bottom: 1px solid #29487d;
  background: linear-gradient(#4F6AA0, #3C5B96);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 82px;
}

.nav {
  background-color: #4469B0;
  border-bottom: 1px solid #2A497B;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  left: 10px;
}

.dropdown {
  float: right;
  margin-right: 320px;
}

.triangle {
  height:0px;
  width:0px;
  border:none;
  border-top:5px solid #1B2A46;
  border-left:5px solid rgba(0,0,0,0);
  border-right:5px solid rgba(0,0,0,0);
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin-bottom: 0px; 
  height: 43px;
}

.dropdown {
  position: relative;
}

.logout_text {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  z-index: 1;
  left: -120px;
  height: 30px;
  padding-top: 20px;
  font-size: 12px;
  text-decoration: none;
}

.dropdown-content button {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-decoration: none;
}

.dropdown_content button:hover {
  background-color: #FFFFFF;
  border: 2px solid #B2B2B2;
  box-shadow: #2A497B;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.fb_logo_small {
  background-image: image-url('fb_logo_small.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
  margin-left: 105px;
}
.facebook_logo {
  background-image: image-url('facebook_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 34px;
  width: 170px;
  margin-left: 25px;
}

.login_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login_input {
  border: 1px solid black;
  height: 24px;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input_label {
  display: flex;
  flex-direction: column;
  margin: 12px;
  font-size: 12px;
}

.login_button {
  margin: 12px;
  height: 28px;
  margin-top: 29px;
  background-color: #4469B0;
  border-color: #29487d;
  color: white;
  border-radius: 3px;
  font-family: "Lucida Grande", sans-serif;
  font-weight: 200;
  width: 50px;
}

.login_button:hover {
  background-color: #3C5B96;
}

.forgot_account {
  color: #91A6C5;
}

.forgot_account:hover {
  color: #91A6C5;
  text-decoration: underline;
}

.login_errors {
  color: #BC4C4C;
  list-style: none;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
}