.newsfeed_page {
  width: 100%;
  height: 100%;
  display: flex; 
  // flex-direction: row;
}

.newsfeed_post_content {
  width: 500px; 
  height: auto;
}

.left_nav {
  height: 400px;
  width: 200px;
  margin-left: 10%;
  margin-top: 1%;
}

.left_content_item {
  display: flex; 
  flex-direction: row;
  align-items: center;
  height: 28px;
  width: 186px;
  padding-left: 10px;
  background-color: #E9EBEE;
  border-radius: 2px;
  border: 1px solid #E9EBEE;
}

.left_content_item:hover {
  background-color: #F5F6F7;
  border-radius: 2px;
  border: 1px solid #DDDFE2;
}

.left_content_item p {
  font-size: 13px;
  color: #1D2128;
  text-decoration: none;
}

.tiny_prof_pic {
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.name_link {
  font-size: 14px;
  color: #1D2128;
  text-decoration: none;
  padding-left: 5px;
}

.left_content_item_always_hov {
  display: flex; 
  flex-direction: row;
  align-items: center;
  height: 28px;
  width: 186px;
  padding-left: 10px;
  background-color: #F5F6F7;
  border-radius: 2px;
  border: 1px solid #DDDFE2;
}

.left_content_item_always_hov p {
  font-size: 13px;
  color: #1D2128;
  text-decoration: none;
}

.nf_icon {
  background-image: image-url('newsfeed_hov');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 27px;
}

.msg_icon {
  background-image: image-url('messaging');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 27px;
}

.left_content_item:hover .msg_icon {
  background-image: image-url('messaging_hov');
}

.wtch_icon {
  background-image: image-url('watch.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 27px;
}

.left_content_item:hover .wtch_icon {
  background-image: image-url('watch_hover');
}

.mkt_icon {
  background-image: image-url('market_hov');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 27px;
}

.left_content_item:hover .mkt_icon {
  background-image: image-url('marketplace');
}

.explore {
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #616770;
  padding-left: 10px;
  padding-bottom: 5px;
}

.grp_icon {
  background-image: image-url('group');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 27px;
}

.left_content_item:hover .grp_icon {
  background-image: image-url('group_hov');
}

.pgs_icon {
  background-image: image-url('pages');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 27px;
}

.left_content_item:hover .pgs_icon {
  background-image: image-url('pages_hov');
}

.evnt_icon {
  background-image: image-url('events');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 27px;
}

.left_content_item:hover .evnt_icon {
  background-image: image-url('event_hov');
}

.fnd_icon {
  background-image: image-url('fundraiser');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 27px;
}

.left_content_item:hover .fnd_icon {
  background-image: image-url('fundraisers_hov');
}

.jbs_icon {
  background-image: image-url('jobs');
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 27px;
}

.left_content_item:hover .jbs_icon {
  background-image: image-url('jobs_hov');
}

// ======================

// Ads styling

.ads {
  width: 308px;
  height: 520px;
  background-color: #FFFFFF;
  margin-left: 10px;
  margin-top: 12px;
  border: 1px solid #E4E6E8;
  border-radius: 5px;
}

.flexo_banner {
  background-color: #1E1E1E;
  width: 100%;
  height: 40px;
  background-image: image-url('flexo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.flexo_pic, .burton_pic {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  margin-left: 5%;
  height: 180px;
}

.flexo_pic {
  background-image: image-url('GTR.jpg');
}

.burton_pic {
  background-image: image-url('burton_ad.png');
}

.ad_text {
  font-size: 12px;
  color: #3C5B96;
  font-weight: bold;
  margin-top: 5px;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCED0;
}