.post_container {
  width: auto;
  height: auto;
  padding: 20px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid #DDDFE2;
}

.main_post_column {
  width: 510px;
}

.post_form_container {
  width: auto;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid #DDDFE2;
  margin-top: 12px;
  padding-bottom: 5px;
}

.create_post_banner {
  width: 100%;
  background-color: #F5F6F7;
  border-bottom: 1px solid #DDDFE2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  // padding: 8px 0px 8px 8px;
  padding-top: 8px; 
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
}

.create_post_banner p {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif; 
  font-size: 12px;
  font-weight: bold;
  color: #4B4F56;
  margin-left: 4px;
}

.post_icon {
  background-image: image-url('post_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
  height: 18px;
  width: 18px;
}

.post_text_area {
  resize: none;
  width: 350px;
  height: 50px;
  max-height: auto;
  border: none;
  font-size: 18px;
  padding-top: 10px;
}

.post_button {
  height: 28px;
  width: 130px;
  background-color: #4469B0;
  border-color: #29487d;
  color: white;
  border-radius: 3px;
  font-weight: 200;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  margin-left: 70%;
  margin-bottom: 10px;
}

.post_button p {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif; 
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-left: 4px;
}

.post_button:hover {
  background-color: #3C5B96;
}

.post_inline_content {
  display: flex; 
  flex-direction: row;
  padding: 20px 20px 0px 20px;
}

.poster_profile_pic {
  object-fit: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-left: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.posts_spacer {
  padding-top: 10px;
  width: auto; 
  height: 40px;
}

.posts_spacer p {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif; 
  font-size: 12px;
  font-weight: bold;
  color: #4B4F56;
  margin-left: 10px;
}

.post_item_user_name p {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif; 
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  color: #385A97;
}

.post_item_user_name p:hover {
  text-decoration: underline;
}

.name_date_container {
  display: flex; 
  flex-direction: column;
}

.user_data_per_post {
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.post_date {
  font-size: 10px;
  color: #616770;
}

.post_body {
  margin: 10px;
  padding-bottom: 20px; 
  border-bottom: 1px solid #E5E5E5;
}

// -------------------------------

// COMMENTS

.comment_container {
  width: auto;
  display: flex; 
  flex-direction: row;
  margin-bottom: 10px;
}

.commenter_img {
  object-fit: cover;
  background-repeat: no-repeat;
  margin-left: 8px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment_username_and_body {
  background-color: #EFF1F3;
  display: flex; 
  flex-direction: row; 
  align-items: center;
  width: auto;
  max-width: 80%;
  height: auto;
  border-radius: 30px;
}

.post_item_commenter_name p {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif; 
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
  color: #385A97 !important;
  padding-right: 5px;
  padding-left: 10px;
}

.post_item_commenter_name p:hover {
  text-decoration: underline;
}

.comment_username_and_body p {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif; 
  font-size: 12px;
  cursor: pointer;
  color: #1D2128;
}

.commenter_name_text {
  padding-right: 5px;
}

.comment_body {
  width: auto;
  max-width: 200px;
}

.comment_body p {
  padding-right: 20px;
}

.comment_form_container {
  display: flex;
  flex-direction: row;
}

.comment_form {
  background-color: #F2F3F5;
  border-radius: 30px;
  width: 396px;
}

.comment_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment_object {
  margin-top: 8px;
  background-color: #F2F3F5;
  border: none; 
  height: auto;
  width: 366px;
  margin-left: 10px;
  font-size: 12px;
}